doctype html
meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/style.css')
div(class="container")
h1
	|Add a team
hr
form(method="post" action="/add", enctype="multipart/form-data")
	h4
		#form
			| Team Number:&nbsp;
			input(type="text" id="tm" name="teamNumber")
			br
			br
			| Can pick up:
			br
			br
			ul
				| 	Totes&nbsp;
				input(type="checkbox" name="abilities" value="totes")
				br
				| 	Cans&nbsp;
				input(type="checkbox" name="abilities" value="cans")
				br
				| 	Litters&nbsp;
				input(type="checkbox" name="abilities" value="litter")
			| Image:&nbsp;
			span.btn.btn-default.btn-file
				| Browse
				input(class="btn btn-default" type='file', name='image', accept='image/png,capture=camera')
			br
			br
			| Other:
			br 
			textarea(rows="3" name="other")
			br
			br
			input(class="btn btn-submit btn-lg" type="submit" value="Submit")