doctype html
meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/style.css')
div(class="container")
h1
	|Add a team
hr
form(method="post" action="/add", enctype="multipart/form-data")
	.form-group
		label(for="tm")
			|Team Number
		input(class="form-control" type="text" id="tm" name="teamNumber")
	label(for="chkbx") Can pick up
	br
	label#chkbx.checkbox-inline
		input(type='checkbox', name='abilities', value='totes')
		|  Totes
	label.checkbox-inline
		input(type='checkbox', name='abilities', value='cans')
		|  Cans
	label.checkbox-inline
		input(type='checkbox', name='abilities', value='litters')
		|  Litters
	br
	br 
	label(for="fl") Image
	br
	span#fl.btn.btn-default.btn-file
		| Browse
		input(class="btn btn-default" type='file', name='image', accept='image/png,capture=camera')
	br
	br
	.form-group
		label(for="ot")
			|Other
		textarea(class="form-control" id="ot" name="other" rows="3")
	input(class="btn btn-submit btn-lg" type="submit" value="Submit")