extends layout
div(class="container")

	block content
		h1= title
		hr
		h4
			a(class="btn btn-default" href='/add')
				i(class="fa fa-plus")
				| &nbsp;&nbsp;Add a robot 
			br
			br
			a(class="btn btn-default" href='/robots')
				i(class="fa fa-list")
				| &nbsp;&nbsp;List of robots
		h4
			a(style="position:fixed;bottom:250"  href='http://www.botprovoking.org/')
				|&#171; Back to Bot Provoking